/* div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -400px;
} */

/* div {
    position: fixed;
    top: 20%;
    left: 20%;
    margin-top: -100px;
    margin-left: -100px;
} */
div {
    position: inherit;
    top: 20%;
    left: 20%;
    margin-top: 20px;
    margin-left: 200px;
}

h4,
p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
}

/* .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */


body {
    background-color: rgb(238, 238, 238);
}

h1 {
    color: rgb(13, 95, 217);
    text-align: left;
}

p {
    font-family: verdana;
    font-size: 12px;
}

/* working till here */

/* for forms lable and input */

/* #form {
    background-color: #FFF;
    height: 600px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px;
    text-align: center;
} */

/* label {
    display: inline-block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #333;
    height: 20px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
} */

/* label {
    display: inline-block;
    width: 140px;
    text-align: right;
} */

/* ​ input {
    height: 20px;
    width: 600px;
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
} */


/* input[type=button] {
    float: none;
} */

input[type="text"]+label {
    display: inline;
}

input[type="list"]+label {
    display: inline;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [label] auto [input] 1fr;
}

/* input {
    grid-column: input;
    align-self: center;
} */

/* label {
    grid-column: label;
    align-self: right;
    width: 140px;

} */

label {
    /* font-family: Georgia, "Times New Roman", Times, serif; */
    font-size: 14px;
    color: #333;
    height: 20px;
    width: 200px;
    /* margin-top: 10px;
    margin-left: 10px; */
    text-align: right;
    /* clear: both;
    float: left; */
    /* margin-right: 15px; */
}

​ input {
    height: 20px;
    width: 600px;
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
}

.btn {
    min-width: 50px;

}

/* input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color: #333;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
} */

.topnav {
    /* width: 50%; */
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}



/* Style the header with a grey background and some padding */
/* .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
} */

.header {
    /* padding: 20px 10px; */
    text-align: left;
    /* background: #bbc0bf; */
    color: white;
    font-size: 18px;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: dodgerblue;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

#logo {
    float: left;
    padding: none;
    margin: none;
    height: 30px;
    width: 30%;
}

#logo img {
    width: 40%;
    float: left;
    /* padding: 10px 0px; */
}