<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
    <meta charset="UTF-8" />
    <title>bet-prediction</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
    <!-- Flask read css from static folder -->
    <link rel="stylesheet" href="../static/min.css">
    <script src="../static/min.js"></script>

</head>


<body>

    <div class="login" >
        <h1>Wohlig Bet Prediction</h1>

        <p>Please fill all input as in order listed and in the format of data provided.</br>
            e.g. </br>
            stake : 4500, betRate : 1.960, marketId : 1.175, averagePriceMatched : 1.970, </br>
            type : BACK, eventType : Cricket, marketName : Match Odds,  </br>
            event : Delhi Capitals v Royal Challengers Bangalore, placedDate : 2020-11-02T14:16:57.494Z </br>
        </p>

        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}" method="post">

            <input type="text" name="stake" placeholder="stake" required="required" />
            <br /><br />
            <input type="text" name="betRate" placeholder="betRate" required="required" />
            <br /><br />
            <input type="text" name="marketId" placeholder="marketId" required="required" /><br /><br />
            <input type="text" name="averagePriceMatched" placeholder="averagePriceMatched"
                required="required" /><br /><br />

                <label>
                    <input list="type" name="type" placeholder="type"/></label>
                    <datalist id="type">
                      <option value="LAY">
                      <option value="BACK">
                    </datalist><br /><br />
            <!-- <input type="text" name="type" placeholder="type" required="required" /><br /><br /> -->

            <label>
                <input list="eventType" name="eventType" placeholder="eventType"/></label>
                <datalist id="eventType">
                  <option value="Cricket">
                  <option value="Soccer">
                  <option value="Tennis">

                </datalist><br /><br />

            <!-- <input type="text" name="eventType" placeholder="eventType" required="required" /><br /><br /> -->

            <label>
                <input list="marketName" name="marketName" placeholder="marketName"/></label>
                <datalist id="marketName">
                  <option value="Match Odds">
                  <option value="Tied Match">
                  <option value="Over/Under 0.5 Goals">
                  <option value="Over/Under 1.5 Goals">
                  <option value="Over/Under 2.5 Goals">
                  <option value="Over/Under 3.5 Goals">
                  <option value="Over/Under 4.5 Goals">
                  <option value="Over/Under 5.5 Goals">
                  <option value="Over/Under 6.5 Goals">
                  <option value="Over/Under 7.5 Goals">
                </datalist><br /><br />

            <!-- <input type="text" name="marketName" placeholder="marketName" required="required" /><br /><br /> -->
            <input type="text" name="event" placeholder="event" required="required" /><br /><br />
            <input type="text" name="placedDate" placeholder="placedDate" required="required" /><br /><br />

            <!-- <label>Choose a browser from this list:
                <input list="browsers" name="myBrowser" /></label>
                <datalist id="browsers">
                  <option value="Chrome">
                  <option value="Firefox">
                  <option value="Internet Explorer">
                  <option value="Opera">
                  <option value="Safari">
                  <option value="Microsoft Edge">
                </datalist> <br /><br /> -->
    

            <!-- <button type="submit" class="btn btn-primary btn-block btn-large"> -->
            <button type="submit" class="btn btn-primary">

                 Predict
            </button>
        </form>



        <br />
        <br />
        {{ prediction_text }}
    </div>
</body>

</html>